<li>

{{name}}

<button class="change-eat" data-id="{{id}}" data-neweat="{{devour}}">
	{{#if devour}}DEVOUR!!{{else}}DEVOURED IT!{{/if}}
</button>

<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

</li>